{% extends 'base.html' %}

{% block head %}
<title>News Aggregator</title>
{% endblock %}

{% block body %}
<h1>Devon's News Aggregator</h1>
<form action="{{ url_for('news') }}" method="post">
    <input type="submit" name="key" value="Politics" />
    <input type="submit" name="key" value="Entertainment" />
    <input type="submit" name="key" value="Sports" />
    <input type="submit" name="key" value="Tech" />
    <input type="submit" name="key" value="Business" />
</form>
<ul>
    {% for article in articles %}
    <li>
        <h3>{{article.title}}</h3>
        <a href="{{article.link}}">{{article.link}}</a>
        <p>{{article.content}}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
